/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */

.home .slides img {
    width: 936px;
    height: 366px;
}

.home .fix.last img {
    width: 64px;
    height: 64px;
}
