/* Print Style Sheet */
@media print (min-width:751px) and (max-width:970px) {
body { background: #ff0000; color: #000000; margin:0; }
#header { 
.nav { display:none }
#content {  display:block; background: #ff0000; color: #000000; margin:0; }
#comments { }
#sidebar { }
#footer { }
}