/* CSS3 / Browser specific CSS */

#main-nav .nav a , #main-nav .nav li.current_page_item, #main-nav .nav li.current_page_parent, .nav li.current-cat{ border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.nav li ul li.current-cat { border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
.nav li ul li a { border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;}

#content  { box-shadow: 0 0 10px #c5c5c5; -moz-box-shadow: 0 0 10px #c5c5c5; -webkit-box-shadow: 0 0 10px #c5c5c5; }

.button, .button:visited, .medium.button, .medium.button:visited { text-shadow: 1px 1px 0 rgba(0,0,0,0.25); }
.button, .button:visited, .reply a { -moz-border-radius: 5px; -webkit-border-radius: 5px;  text-shadow: 1px 1px 0 rgba(0,0,0,0.25); }
.button:hover, .reply a:hover { opacity:0.9; }

#main-nav { border-top-right-radius:6px; border-top-left-radius:6px; -moz-border-radius-topright:6px;	-moz-border-radius-topleft:6px;-webkit-border-top-right-radius: 6px; -webkit-border-top-left-radius:6px; }

#tabs, .widget input.s { border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
#tabs ul.wooTabs li a.selected, #tabs ul.wooTabs li a:hover { border-top-right-radius:3px; border-top-left-radius:3px; -moz-border-radius-topright:3px;	-moz-border-radius-topleft:3px;-webkit-border-top-right-radius: 3px; -webkit-border-top-left-radius:3px; }

.agent-popup  { border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; box-shadow: 0 0 5px #999; -moz-box-shadow: 0 0 5px #999; -webkit-box-shadow: 0 0 5px #999; }
#search input.text  { border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px; }
#commentform input.txt, #commentform textarea  { border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; }
.on-show  { border-radius:150px;-moz-border-radius:150px;-webkit-border-radius:150px; -webkit-transform: rotate(-25deg);
-moz-transform: rotate(-25deg);
 }