.button, .button:visited {  padding:10px 15px; margin:0; }
.on-show, .on-show.small  { padding: 5px 10px; font: bold 16px Helvetica, Arial, sans-serif; text-transform: uppercase; }
.search-tab  { margin: 0 0 5px; }