/*
 Theme Name:   Estate Child Theme
 Theme URI:    http://johanpellsater.com
 Description:  Estate Child Theme
 Author:       Johan Pellsäter
 Author URI:   http://johanpellsater.com
 Template:     estate
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
*/

@import url("../estate/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */


#single-meta .price p {
	font-size: 16px;
}

.price.top.sale.button.fl {
	right: 0px;
	top: 110px;
}

.price.top.rent.button.fl {
	right: 0px;
	top: 70px;
}

.prices {
	display: block;
	float: right;
	border-bottom: 1px solid #e7e7e7;
	padding: 10px 0px;
	border-top: 2px solid #e7e7e7;
	width:100%;
}

.prices .price {
	float: right;
	margin-top: 5px;
}

.feature-rent {
	margin-right: 5px;
}

.price.rent.button {
	margin-left: 5px;
}

.pom-default {
	margin: -29px 225px;
}

.property .features img {
    width: 25px;
    height: 25px;
}
