/* LIGHT BROWN STYLESHEET */
body  { color: #2e2e2e; background-color: #f5efe8; }
a:link, a:visited  { color: #7baf78; }
#top-nav  { background: #948674; }
#wrapper #top-nav .nav li ul  { background: #948674; }
#wrapper #top-nav .nav li ul li  { border-color: #706250; }
#main-nav  { background: #948674; }
.nav a:hover, .nav li.current_page_item, .nav li.current_page_parent, .nav li.current-cat { background:#706250; color: #fff; }
.nav a, #wrapper #top-nav .nav li ul li a   { color:#fff; }
.on-show  { background-color: #7baf78; border: 3px solid rgba(255,255,255,0.4); }
#content.single .title-block .on-show-text  { color: #7baf78; }
#single-meta .price, #main #idx-listing.single #dsidx-header table #dsidx-price td  { color: #7baf78; }
#loopedSlider.gallery .pagination li.active img  { border: 2px solid #7baf78; }

.button, .button:visited, .reply a, #main #idx-listing ol#dsidx-listings li .dsidx-price  { background-color: #7baf78!important; }