/* UNBOXED STYLESHEET */
body  { color: #2e2e2e; background-color: #fff; }
#top-nav  { background: #000; }
#main-nav  { background: #000; }
#main-nav { border-bottom-right-radius:6px; border-bottom-left-radius:6px; -moz-border-radius-bottomright:6px;	-moz-border-radius-bottomleft:6px;-webkit-border-bottom-right-radius: 6px; -webkit-border-bottom-left-radius:6px; }
.nav a  { color:#a0a0a0; }
#address { color: #a0a0a0; }
#address .name  { color: #b2b2b2; }
#content  { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;  }
